.grid__container {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.3), 0 0 2px 0 rgba(0,0,0,.3)
}

.grid__side {
  margin-top: 10px;
}

#remove-column {
  position: absolute;
  right: 5px;
  color: #ff0000;
  font-weight: normal;
}
