body, input {
  font-size: 14px;
}

.grid__container {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}

.grid__row {
  display: table-row;
}

.grid__cell {
  position: relative;
  display: table-cell;
  min-width: 100px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.grid__cell__field {
  width: 100%;
  height: 100%;
  border: none;
}

.grid__cell--small {
  min-width: 15px;
  text-align: center;
  font-weight: normal;
}

.grid__cell--empty {
  border: none;
  cursor: default;
}

.grid__cell--add {
  background-color: green;
  color: white;
  border: none;
}

.grid__cell--remove {
  background-color: red;
  color: white;
}

.grid__row--header {
  font-weight: bold;
}

.grid__side {
  margin-top: 10px;
}

.removal {
  position: absolute;
  right: 5px;
}
