.grid__cell {
  position: relative;
  display: table-cell;
  min-width: 100px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #eaeaea;
}

.grid__cell__field {
  width: 100%;
  height: 100%;
  border: none;
}

.grid__cell--small {
  min-width: 15px;
  text-align: center;
  font-weight: normal;
}

.grid__cell--add {
  border: none;
}

.grid__cell--remove {
  color: #ff0000;
  border: none;
}

.grid__cell--empty {
  border: none;
  cursor: default;
}
